<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.appium.test.LongPress"/>
      <class name="com.appium.test.HybridTest"/>
      <class name="com.appium.test.ScrollDemo"/>
      <class name="com.appium.test.ViewText"/>
      <class name="com.appium.test.DropDown"/>
      <class name="com.appium.test.SetWifi"/>
      <class name="com.appium.test.Swipe"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
